body {
  background-color: rgb(21, 70, 21);
  color: rgb(255, 0, 0);
}
h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  font-weight: bold;
}
p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
img {
  width: 150pt;
}
a {
  text-decoration: none;
  color: rgb(221, 183, 14);
}
a:hover {
  color: blue;
}
