body {
  background-color: rgb(21, 70, 21);
  color: rgb(255, 0, 0);
  padding: 40px;
  margin: 30px;
  border: solid antiquewhite;
}
h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  font-weight: bold;
  margin: 30px;
  border: solid goldenrod;
  padding: 10px;
  border-style: dashed;
  width: 264px;
}
p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin-left: 0px;
  padding: 25px;
}
img {
  width: 160pt;
  border-top-style: ridge;
  border-right-style:ridge;
  border-color: beige;
  padding-top: 15px;
  padding-right: 15px;
}
a {
  text-decoration: none;
  color: rgb(221, 183, 14);
  border: solid whitesmoke;
  padding: 5px;
}
a:hover {
  color: blue;
}
ul {
  border-style: double;
  border-color: beige;
  padding: 11px;
  list-style-type: none;
  width: 305px  ;
}
